language: ruby
cache: bundler

rvm:
  - "2.2.0p0"
  - "2.1.0"
  - "2.0.0"

script: 'bundle exec rake spec'

branches:
  only:
    - master

notifications:
  email:
    - ericdejonckheere@gmail.com

before_install:
  - gem install CFPropertyList -v '2.2.8'
