<div class="row">
  <div class="header">
    <div class="small-6 columns">
      <h1 class="logo">TOKI</h1>
    </div>
    <div class="small-6 columns">
      <h1 class="title">ERROR</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h3 class="total"><%= error %></h3>
    <br>
  </div>
</div>

<% data.each do |k, v| %>
  <div class="row">
    <div class="small-4 columns">
      <h4 class="start"> <%= k %> </h4>
    </div>
    <div class="small-8 columns time">
      <h4 class="duration"> <%= v %> </h4>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="small-4 small-centered columns">
    <h3 class="back"><a href="/">BACK TO INDEX</a></h3>
  </div>
</div>
