<div class="row">
  <div class="header">
    <div class="small-5 columns">
      <h1 class="logo">TOKI</h1>
    </div>
    <div class="small-7 columns">
      <h1 class="title">EXAMPLES</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-5 columns">
    <h5 class="list">Apps total</h5>
  </div>
  <div class="small-7 columns">
    <h5 class="endpoint"><a href="/apps/total">/apps/total</a></h5>
  </div>
</div>

<div class="row">
  <div class="small-5 columns">
    <h5 class="list">Apps top 5</h5>
  </div>
  <div class="small-7 columns">
    <h5 class="endpoint"><a href="/apps/top">/apps/top</a></h5>
  </div>
</div>

<div class="row">
  <div class="small-5 columns">
    <h5 class="list">Apps top x</h5>
  </div>
  <div class="small-7 columns">
    <h5 class="endpoint"><a href="/apps/top/42">/apps/top/42</a></h5>
  </div>
</div>

<div class="row">
  <div class="small-5 columns">
    <h5 class="list">Apps on day x (YEAR-MM-DD)</h5>
  </div>
  <div class="small-7 columns">
    <h5 class="endpoint"><a href="/apps/day/2014-05-27">/apps/day/2014-05-27</a></h5>
  </div>
</div>

<div class="row">
  <div class="small-5 columns">
    <h5 class="list">Apps before day x</h5>
  </div>
  <div class="small-7 columns">
    <h5 class="endpoint"><a href="/apps/before/2014-05-27">/apps/before/2014-05-27</a></h5>
  </div>
</div>

<div class="row">
  <div class="small-5 columns">
    <h5 class="list">Apps since day x</h5>
  </div>
  <div class="small-7 columns">
    <h5 class="endpoint"><a href="/apps/since/2014-05-27">/apps/since/2014-05-27</a></h5>
  </div>
</div>

<div class="row">
  <div class="small-5 columns">
    <h5 class="list">Apps between day 1 and day 2</h5>
  </div>
  <div class="small-7 columns">
    <h5 class="endpoint"><a href="/apps/range/2014-05-27/2014-05-30">/apps/range/2014-05-27/2014-05-30</a></h5>
  </div>
</div>

<!-- <div class="row">
  <div class="small-5 columns">
    <h5 class="list">Complete log for app x</h5>
  </div>
  <div class="small-7 columns">
    <h5 class="endpoint"><a href="/logs/app/safari">/logs/app/safari</a></h5>
  </div>
</div> -->

<div class="row">
  <div class="small-5 columns">
    <h5 class="list">Complete log for bundle x</h5>
  </div>
  <div class="small-7 columns">
    <h5 class="endpoint"><a href="/logs/bundle/com.apple.Safari">/logs/bundle/com.apple.Safari</a></h5>
  </div>
</div>
<!--
<div class="row">
  <div class="small-5 columns">
    <h5 class="list">Total for app x (ex: Safari)</h5>
  </div>
  <div class="small-7 columns">
    <h5 class="endpoint"><a href="/logs/app/safari/total">/logs/app/safari/total</a></h5>
  </div>
</div> -->

<div class="row">
  <div class="small-5 columns">
    <h5 class="list">Total for bundle x (ex: Safari)</h5>
  </div>
  <div class="small-7 columns">
    <h5 class="endpoint"><a href="/logs/bundle/com.apple.Safari/total">/logs/bundle/com.apple.Safari/total</a></h5>
  </div>
</div>

<!-- <div class="row">
  <div class="small-5 columns">
    <h5 class="list">Total for app x before day x</h5>
  </div>
  <div class="small-7 columns">
    <h5 class="endpoint"><a href="/logs/app/safari/before/2014-05-27">/logs/app/safari/before/2014-05-27</a></h5>
  </div>
</div> -->

<div class="row">
  <div class="small-5 columns">
    <h5 class="list">Total for bundle x before day x</h5>
  </div>
  <div class="small-7 columns">
    <h5 class="endpoint"><a href="/logs/bundle/com.apple.Safari/before/2014-05-27">/logs/bundle/com.apple.Safari/before/2014-05-27</a></h5>
  </div>
</div>

<!-- <div class="row">
  <div class="small-5 columns">
    <h5 class="list">Total for app x since day x</h5>
  </div>
  <div class="small-7 columns">
    <h5 class="endpoint"><a href="/logs/app/safari/since/2014-05-27">/logs/app/safari/since/2014-05-27</a></h5>
  </div>
</div> -->

<div class="row">
  <div class="small-5 columns">
    <h5 class="list">Total for bundle x since day x</h5>
  </div>
  <div class="small-7 columns">
    <h5 class="endpoint"><a href="/logs/bundle/com.apple.Safari/since/2014-05-27">/logs/bundle/com.apple.Safari/since/2014-05-27</a></h5>
  </div>
</div>

<!-- <div class="row">
  <div class="small-5 columns">
    <h5 class="list">Total for app x between day 1 and day 2</h5>
  </div>
  <div class="small-7 columns">
    <h5 class="endpoint"><a href="/logs/app/safari/range/2014-05-27/2014-05-30">/logs/app/safari/range/2014-05-27/2014-05-30</a></h5>
  </div>
</div> -->

<div class="row">
  <div class="small-5 columns">
    <h5 class="list">Total for bundle x between day 1 and day 2</h5>
  </div>
  <div class="small-7 columns">
    <h5 class="endpoint"><a href="/logs/bundle/com.apple.Safari/range/2014-05-27/2014-05-30">/logs/bundle/com.apple.Safari/range/2014-05-27/2014-05-30</a></h5>
  </div>
</div>

<div class="row">
  <div class="small-5 columns">
    <h5 class="list">Activity</h5>
  </div>
  <div class="small-7 columns">
    <h5 class="endpoint"><a href="/activity">/activity</a></h5>
  </div>
</div>

<div class="row">
  <div class="small-5 columns">
    <h5 class="list">Activity for a specific day</h5>
  </div>
  <div class="small-7 columns">
    <h5 class="endpoint"><a href="/activity/day/2014-09-14">/activity/day/2014-09-14</a></h5>
  </div>
</div>

<div class="row">
  <div class="small-5 columns">
    <h5 class="list">Activity since a specific day</h5>
  </div>
  <div class="small-7 columns">
    <h5 class="endpoint"><a href="/activity/since/2014-09-14">/activity/since/2014-09-14</a></h5>
  </div>
</div>

<div class="row">
  <div class="small-5 columns">
    <h5 class="list">JSON API</h5>
    <p>Add "/api" in front of the urls to get JSON</p>
  </div>
  <div class="small-7 columns">
    <h5 class="endpoint"><a href="/api">/api</a></h5>
  </div>
</div>
